<p class="notice"><%= notice %>
<h1> Listing requests</h1>

<ul>
  <%- for item in @request.line_items %>
    <li><%= item.quantity %> &times; <%=item.product.title %></li>

    <% end %>
 </ul>
 <%= button_to 'Empty Rquest', @request, :method => :delete, :confirm => 'Are you sure?' %>