<p>
	<strong> Name :  </strong>
    <%= consumable_subcategory.name %>
    </p> 
    <p>
    	<strong>Country : </strong>
    <%= consumable_subcategory.description %>
  </p>
  <p>
  
</p>
  <hr>