<div id="submenu">
  <h4 class="title">All Equipment</h4>
</div>

<table class="large-12 columns">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product %></td>
        <td><%= link_to product.title, product %></td>
        <td><%= sanitize product.description %></td>
        <td><%= button_to "Make Request", line_items_path(:product_id => product), :class => 'btn sign_in button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


