%p#notice= notice
.large-12.columns
  %h2 Consumable Detail
  %p
    %strong Title:
    = @consumable.name
  %p
    %strong Description:
    = @consumable.description
/ .large-2.columns
/   %h2 SUbcategories
/   = render @consumable.consumable_subcategories
/ .large-2.columns
/   %h2 used for
/   = render @consumable.consumable_uses
.large-12.columns
  = link_to 'Back', consumables_path, :class => 'btn sign_in button left'