#admin_sidebar.large-2.columns.hide-for-small
  .large-12.columns
    %ul.side-nav
      %h5 Quick Menu
      %li.divider
      %li
        %a{:href => "#"} All Equipment
      %li.divider
      %li
        = link_to "Add Subcategory", '#'
      %li.divider
      %li
        = link_to "Add Property", "#"